<h2 mat-dialog-title>Create User</h2>

<form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="createUser(userForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-dialog-content>
        <mat-card-content>

            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Name" formControlName="Name" id="Name">
                <mat-hint align="end">Up to 60 characters long.</mat-hint>
                <mat-error *ngIf="hasError('Name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('Name', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Age" formControlName="Age" id="Age">
                <mat-error *ngIf="hasError('Age', 'required')">Age is required</mat-error>
                <mat-error *ngIf="hasError('Age', 'maxlength')">You have more than 3 digits</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput type="text" placeholder="Address" formControlName="Address" id="Address"></textarea>
                <mat-hint align="end">Up to 100 characters long.</mat-hint>
                <mat-error *ngIf="hasError('Address', 'required')">Address is required</mat-error>
                <mat-error *ngIf="hasError('Address', 'maxlength')">You have more than 100 characters</mat-error>
            </mat-form-field>

        </mat-card-content>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="primary">Create</button>
        <button mat-button [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>